# NumPy Exercises

#### Import NumPy as np

In [1]:
import numpy as np

#### Create an array of 10 zeros

In [2]:
import numpy as np
arr=np.zeros(10)
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [3]:
import numpy as np
arr=np.ones(10)
print(arr)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [4]:
import numpy as np
arr=np.ones(10)*5
print(arr)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

#### Create an array of the integers from 10 to 50

In [8]:
import numpy as np
arr= (np.arange(10,51))
print(arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [ ]:
import numpy as np
arr= print(np.arange(10,51,2))
print(arr)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a 3x3 matrix with values ranging from 0 to 8

In [10]:
import numpy as np
M =  np.arange(0, 9).reshape(3,3)
print(M)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [11]:
import numpy as np
IM = np.eye(3)
print(IM)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [24]:
from numpy import random

R = random.rand()

print(R)

0.8565963796168532

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [29]:
import numpy as np
ARR= np.random.randn(25)
print(ARR)

[-0.60522062  0.59208704  1.32619381 -0.10419712  1.46474343  0.61260354
 -0.96552688  0.88121959 -0.88564277 -0.77465515  0.15305804 -0.2512442
 -0.09851964 -1.77604049 -2.11586539  0.48624936  0.82537424  0.70524488
  0.02541187  1.37542165 -0.25118456  0.79509181 -2.12884914  0.06878862
  0.72205418]

In [28]:
import numpy as np
ARR= np.random.normal(0,1,25)
print(ARR)

[ 0.45708324 -0.67021392 -0.20431725 -0.15440618 -0.03741931 -0.64206294
 -0.66419455  0.79495728 -0.13076248  0.50404599 -0.60196754  1.21611106
 -1.00886269 -0.6955607   0.94992482  0.26056728  0.96046575  1.76265922
 -0.20970246  0.23575844 -0.59793419 -0.62196879  0.98290295 -0.42280358
 -0.60982337]

#### Create the following matrix:

In [38]:
import numpy as np
ARR= np.arange(0, 1.01, 0.01)
print(ARR)

[0.   0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13
 0.14 0.15 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27
 0.28 0.29 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41
 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55
 0.56 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69
 0.7  0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81 0.82 0.83
 0.84 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93 0.94 0.95 0.96 0.97
 0.98 0.99 1.  ]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [41]:
import numpy as np
ARR= np.linspace(0,1,20)
print(ARR)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [44]:
mat = np.arange(1,26).reshape(5,5)
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [45]:
mat = np.arange(1,26).reshape(5,5)
mat[3,4]

20

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [47]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [53]:
mat = np.arange(1,26).reshape(5,5)
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [54]:
mat = np.arange(1,26).reshape(5,5)
mat[4 ,:]

array([21, 22, 23, 24, 25])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [56]:
mat = np.arange(1,26).reshape(5,5)
mat[3:5 ,:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [58]:
mat = np.arange(1,26).reshape(5,5)
mat.sum()

325

#### Get the standard deviation of the values in mat

In [60]:
mat = np.arange(1,26).reshape(5,5)
mat.std()

7.211102550927978

#### Get the sum of all the columns in mat

In [61]:
mat = np.arange(1,26).reshape(5,5)
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

In [62]:
#extra not in the assignment "Getting sum of all rows in mat"
mat = np.arange(1,26).reshape(5,5)
mat.sum(axis=1)

array([ 15,  40,  65,  90, 115])

# Great Job!